<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <%- include("partials/header") %>
        <div id="chatroom">
            <% for (let i = 0; i <messages.length; i++) { %>
                <div class="message">
                    <div
                        class="profile-name"
                        <%- `style="background-color: ${messages[i].color};"`%>
                    >
                        <%= messages[i].user[0] %>
                    </div>
                    <div class="message-text-div">
                        <div class="message-text"><%= messages[i].text %></div>                        
                    </div>
                    <div class="details-btn-div">
                        <button class="details-btn" data-id="<%= i %>">details</button>
                    </div>
                    <dialog class="details-dialogue" id="details-<%= i %>">
                        <div class="dialogue-div">
                            <p class="msg-txt"><span>Message:</span> <%= messages[i].text %></p>
                            <p class="author"><span>Author:</span> <%= messages[i].user %></p>
                            <p class="date"><span>Date:</span> <%= messages[i].added %></p>
                            <button class="details-close-btn" data-close-id="<%= i %>">close</button>
                        </div>
                        
                    </dialog>
                </div>
            <% } %>
        </div>
        <div class="btn-div">
            <a href="/new" id="new-btn">New Message</a>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", () =>{
            document.querySelectorAll(".details-btn").forEach((btn) => {
                btn.addEventListener("click", () => {
                    const id = btn.getAttribute("data-id");
                    const details = document.querySelector(`#details-${id}`);
                    details.showModal();
                    document.querySelector("body").classList.toggle("dialogue-open");
                })
            })
            document.querySelectorAll(".details-close-btn").forEach((btn) => {
                btn.addEventListener("click", () => {
                    const id = btn.getAttribute("data-close-id");
                    const details = document.querySelector(`#details-${id}`);
                    details.close();
                    document.querySelector("body").classList.toggle("dialogue-open");
                })
            })
        })
    </script>
</html>
